<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>
    E Lucas Augusto
</h1>
<h1>
    S Pedro Vargas
</h1>

<h1>
    T Marco Nurmberg
</h1>

<h1>
    O Victor Marcel
</h1>

<h1>
    U Lucas Augusto
</h1>
<h1>
    R Pedro Vargas
</h1>

<h1>
    A Marco Nurmberg
</h1>

<h1>
    M Victor Marcel
</h1>
<h1>
    E Lucas Augusto
</h1>
<h1>
    U Pedro Vargas
</h1>

<h1>
    C Marco Nurmberg
</h1>

<h1>
    U Victor Marcel
</h1>
<h1>
    D Lucas Augusto
</h1>
<h1>
    E Pedro Vargas
</h1>

<h1>
    B Marco Nurmberg
</h1>

<h1>
    E Victor Marcel
</h1>

<h1>
    I Lucas Augusto
</h1>
<h1>
    J Pedro Vargas
</h1>

<h1>
    O Marco Nurmberg
</h1>

<h1>
    Vitor
</h1>

<!--<img src="https://i.imgur.com/q0OkqTa.jpg" alt="nome alternativo">-->
</body>
</html>